.bg{
  background-color: rgba(19, 54, 80, 0.989);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
  box-sizing: border-box;
  background-color: rgba(10, 35, 54, 0.989);
  margin: 5% 15% 5% 15%;
  border-radius: 20px;
  border: 2px solid #fff;
  box-shadow: 5px 5px 5px rgb(31, 51, 181);
  text-decoration: none;
}
.label{
  color: rgb(221, 218, 214);
  font-weight: bold;
}
.platformText{
  color: rgb(221, 218, 214);
  font-weight: bold;
  font-size: medium;
}
.new{
  color: rgb(221, 218, 214);
  font-weight: bold;
  font-size: x-large;
}